.height {
    height: 100px;
}

.f-height {
    height: 300px;
}

ul {
    padding-left: 10px;
}

.div7 {
    height: 100px;
   /* width: 100px;*/
}

.f-height {
    height: 300px;
}

@media screen and (max-width: 960px) {
    main > .row {
        flex-direction: column;
    }

    .col-left {
        width: 100%;
    }

    .col-right {
        margin: 0 auto;
    }
    .bg-secondary{
        margin-right: 0!important;
        margin-bottom: 10px;
    }

    .row-cols-5 .col {
        overflow: hidden;
    }

    footer .row {
        flex-direction: column;
        overflow: scroll;
        flex-wrap: inherit;

    }

    footer .row .col {
        margin-bottom: 10px;

    }
}


